auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
/ensime/

recentf
/SessionDesktop.el
/history
/.emacs.desktop
/.emacs.desktop.lock
/local/
/projectile-bookmarks.eld
/smex-items
/custom.el
/cider-history
/straight/
